.cart-container {
    padding: 20px;
}
  
.cart-item {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    border-color: #ffaf97af;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #ffaf9762;
    margin-bottom: 10px;
}
  
.cart-details {
    flex: 1;
    margin-left: 15px;
}
  
input[type="number"] {
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffaf97;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 10px;
    /* padding: 3px 7px; */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 30px;
}

button {
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border: 2px solid #ffaf97;
    border-radius: 5px;
    margin: 0 20px;
    margin-bottom: 10px;
    padding: 3px 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

button:hover {
    border: 2px solid #ffaf97;
    background-color: #ffaf97af;
}

.total_title {
    font-size: 20px;
    text-align: start;
    margin-left: 180px;
}

.clear_cart {
    margin-left: 180px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
